<div class="booking booking-new">
  <h2>DEPARTURE: <%= @booking.flight.departure_spaceport.code %> AT <%= @booking.flight.takeoff.strftime("%H:%M, %m/%d/%Y") %> --- ARRIVAL: <%= @booking.flight.arrival_spaceport.code %> AT <%= (@booking.flight.takeoff + @booking.flight.duration.hours).strftime("%H:%M, %m/%d/%Y") %></h2>
  
</div>